In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
%cd "/content/drive/MyDrive/Programming/Pz/Data_analysis_python_pandas/db"
!ls

/content/drive/MyDrive/Programming/Pz/Data_analysis_python_pandas/db
API_SP.POP.TOTL_DS2_en_csv_v2_3852487.csv		      test.hdf
london_merged.csv					      test.json
Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_3852487.csv    test.parquet
Metadata_Indicator_API_SP.POP.TOTL_DS2_en_csv_v2_3852487.csv  test.pkl
Meteorite_Landings.csv					      test.xlsx
test.csv

In [3]:
import pandas as pd
import numpy as np
pd.__version__

'1.3.5'

In [5]:
!ls

API_SP.POP.TOTL_DS2_en_csv_v2_3852487.csv		      test.csv
london_merged.csv					      test.hdf
Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_3852487.csv    test.json
Metadata_Indicator_API_SP.POP.TOTL_DS2_en_csv_v2_3852487.csv  test.parquet
Meteorite_Landings.csv					      test.pkl
poblacion.csv						      test.xlsx

In [8]:
df_pdb = pd.read_csv("poblacion.csv")
pd.options.display.float_format = "{:,.1f}".format
df_pdb

                       Country  year             pop
0                  Afghanistan  2015    34,413,603.0
1                      Albania  2015     2,880,703.0
2                      Algeria  2015    39,728,025.0
3               American Samoa  2015        55,812.0
4                      Andorra  2015        78,011.0
...                        ...   ...             ...
1035  Pre-demographic dividend  2018   919,485,393.0
1036              Small states  2018    40,575,321.0
1037                South Asia  2018 1,814,388,744.0
1038   South Asia (IDA & IBRD)  2018 1,814,388,744.0
1039        Sub-Saharan Africa  2018 1,078,306,520.0

[1040 rows x 3 columns]

In [11]:
df_pdb["year"] = pd.Categorical(df_pdb["year"].apply(str))
df_pdb["year"].head()

0    2015
1    2015
2    2015
3    2015
4    2015
Name: year, dtype: category
Categories (4, object): ['2015', '2016', '2017', '2018']

In [10]:
df_pdb.dtypes

Country      object
year       category
pop         float64
dtype: object

In [14]:
idx_filtro = df_pdb["Country"].isin(["Aruba", "Colombia"])
idx_filtro

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

In [22]:
df_sample = df_pdb[idx_filtro]
df_sample

      Country  year          pop
9       Aruba  2015    104,341.0
42   Colombia  2015 47,520,667.0
269     Aruba  2016    104,872.0
302  Colombia  2016 48,171,392.0
529     Aruba  2017    105,366.0
562  Colombia  2017 48,901,066.0
789     Aruba  2018    105,845.0
822  Colombia  2018 49,648,685.0

In [23]:
df_sample = df_sample.set_index(["Country", "year"]).sort_index()
df_sample

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

In [26]:
df_sample.loc["Colombia",:].loc["2016"]

pop   48,171,392.0
Name: 2016, dtype: float64

In [27]:
df_sample.xs(["Aruba"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  """Entry point for launching an IPython kernel.

           pop
year
2015 104,341.0
2016 104,872.0
2017 105,366.0
2018 105,845.0

In [30]:
df_sample.xs("2018", level="year")

                  pop
Country
Aruba       105,845.0
Colombia 49,648,685.0

In [33]:
df_countries = df_pdb.set_index(["Country", "year"]).sort_index(ascending=[True,True])
df_countries

                          pop
Country     year
Afghanistan 2015 34,413,603.0
            2016 35,383,128.0
            2017 36,296,400.0
            2018 37,172,386.0
Albania     2015  2,880,703.0
...                       ...
Zambia      2018 17,351,822.0
Zimbabwe    2015 13,814,629.0
            2016 14,030,390.0
            2017 14,236,745.0
            2018 14,439,018.0

[1040 rows x 1 columns]

In [34]:
ids=pd.IndexSlice
df_countries.loc[ids["Aruba":"Austria","2015":"2017"],:].sort_index()

                        pop
Country   year
Aruba     2015    104,341.0
          2016    104,872.0
          2017    105,366.0
Australia 2015 23,815,995.0
          2016 24,190,907.0
          2017 24,601,860.0
Austria   2015  8,642,699.0
          2016  8,736,668.0
          2017  8,797,566.0

In [37]:
df_countries.index.get_level_values(0)

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan', 'Albania',
       'Albania', 'Albania', 'Albania', 'Algeria', 'Algeria',
       ...
       'Yemen, Rep.', 'Yemen, Rep.', 'Zambia', 'Zambia', 'Zambia', 'Zambia',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=1040)

In [38]:
df_countries["pop"]["Colombia"]["2018"]

49648685.0

In [39]:
df_countries.sum(level="year")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

                  pop
year
2015 65,679,147,019.0
2016 66,487,930,677.0
2017 67,294,176,701.0
2018 68,087,886,692.0

In [40]:
df_sample.unstack("year")

                  pop
year             2015         2016         2017         2018
Country
Aruba       104,341.0    104,872.0    105,366.0    105,845.0
Colombia 47,520,667.0 48,171,392.0 48,901,066.0 49,648,685.0

In [41]:
df_sample.unstack("Country")

              pop
Country     Aruba     Colombia
year
2015    104,341.0 47,520,667.0
2016    104,872.0 48,171,392.0
2017    105,366.0 48,901,066.0
2018    105,845.0 49,648,685.0